# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
build/
dist/

# Temporary files
*.cache
*.tmp

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE settings
.vscode/
.idea/
*.swp
